/* body {
  background-color: rgb(90, 90, 14);
} */

/* h1 {
  color: rgb(97, 3, 3);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  border: 2px double;
  border-radius: 2px;
} */

.display {
  background-color: gray;
}
.leaf {
  margin: 2rem 0rem;
  border: 20px;
  padding: 4rem;
}
.leaf-icon {
  background: linear-gradient(0.9turn, #1d0101, #b52626);
}

img {
  margin: 1rem;
}

.slang {
  color: chartreuse;
  background-color: cornflowerblue;
}

.slang-modified {
  color: blueviolet;
  background-color: brown;
}

.todo-item {
  font-size: 40px;
  color: blanchedalmond;
}

.todo-item:hover {
  background-color: rgba(66, 66, 211, 0.938);
  transition: all 200ms;
}

.completed {
  color: rgb(129, 84, 129);
  text-decoration: line-through;
}

.startline h1 {
  text-align: center;
  transition: all 1s;
}

.big {
  transform: scale(3);
  color: green;
}
.small {
  transform: scale(0.5);
  color: blue;
}

.chiqui {
  width: 22rem;
}

.highlight {
  color: chartreuse;
  border: 2px solid salmon;
  font-size: 20px;
}

#dog-4 {
  width: 40%;
  height: auto;
}
