{%extends 'base.html'%} 
{%block title%} Add post for {{user.first_name}} {{user.last_name}} {% endblock%} 
{%block list%}{%endblock%}
{% block new_post_form %}
<form action="/users/{{user.id}}/add-post" id='new-post-form' method="POST">
  <label for="Title">Title</label>
  <input type="text" name="title"/>
  <label for="content">Content</label>
  <textarea name="content" id="new-post-form" cols="20" rows="5"></textarea>
  <div class="radio-section">
    <h5>Categories:</h5>
    {%for tag in tags%}
      <div class="choose">
        <input type="checkbox" name='category' value='{{tag.name}}'>
        <label for="{{tag.name}}">{{tag.name}}</label>
      </div>
    {% endfor %}
  </div>
  <!-- <div class="radio-section">
    <h5>Category:</h5>
    <div class="choose">
      <input type="checkbox" name='category' value='funny'>
      <label for="funny">Funny</label>
    </div>
    <div class="choose">
      <input type="checkbox" name='category' value='sad'>
      <label for="sad">Sad</label>
    </div>
    <div class="choose">
      <input type="checkbox" name='category' value='cool'>
      <label for="cool">Cool</label>
    </div>
  </div> -->
  <button>Cancel</button>
  <button>Add</button>
</form>
{%endblock%} 