appdirs==1.4.4
appnope==0.1.2
astroid==2.4.1
autopep8==1.5.2
backcall==0.2.0
beautifulsoup4==4.9.3
certifi==2020.4.5.1
chardet==4.0.0
click==7.1.2
cssselect==1.1.0
decorator==4.4.2
distlib==0.3.0
feedfinder2==0.0.4
feedparser==6.0.2
filelock==3.0.12
idna==2.10
ipython==7.19.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.18.0
jieba3k==0.35.1
joblib==1.0.0
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
nltk==3.5
numpy==1.19.5
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
pip-tools==5.1.2
pipenv==2018.11.26
prompt-toolkit==3.0.10
ptyprocess==0.7.0
pycodestyle==2.6.0
Pygments==2.7.4
pylint==2.5.2
python-dateutil==2.8.1
PyYAML==5.4
regex==2020.11.13
requests==2.25.1
requests-file==1.5.1
rope==0.17.0
sgmllib3k==1.0.0
six==1.14.0
soupsieve==2.1
tinysegmenter==0.3
tldextract==3.1.0
toml==0.10.0
torch==1.7.1
tqdm==4.56.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.2
virtualenv==20.0.21
virtualenv-clone==0.5.4
wcwidth==0.2.5
wrapt==1.12.1
