{%extends 'base.html'%}
{%block title%} Edit "{{user.username}}" {% endblock%}
{%block form%}
{%endblock%}
{%block list%}
{%endblock%}
{%block edit%}
<form action="/users/{{user.id}}/update" method="POST">
    <label for="first">First Name</label>
    <input type="text" name="first" value="{{user.first_name}}">
    <label for="last">Last Name</label>
    <input type="text" name="last" value="{{user.last_name}}">
    <label for="username">User Name</label>
    <input type="text" name="username" value="{{user.username}}">
    <label for="image">Image Url</label>
    <input type="text" name="image" value="{{user.image_url}}">
    <button>Save changes</button>
    <a class='button' href="/">Discard changes</a>
</form>
{%endblock%}