{%extends 'base.html'%}
{%block title%} {{user.first_name}} {{user.last_name}} {% endblock%}
{%block form%}
{%endblock%}
{%block list%}
{%endblock%}
{%block show%}
<div class="row">
    <div class="img-container">
        <img src="{{user.image_url}}" alt="user-image">
    </div>
    <div class="data-container">
        <div class="row">
            <a class='button btn-edit' href="/users/{{user.id}}/edit">Edit user</a>
            <a class="button btn-delete" href="/users/{{user.id}}/delete">Delete user</a>
            <a class="button btn-all" href="/">All users</a>
        </div>
        <div class="row">
            <h3>Posts</h3>
        </div>
        <div class="row">
            <ul>
                {% if (posts|length > 0)%}
                {% for post in posts %}
                <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
                {%endfor%}
                {%else%}
                <p>No posts yet</p>
                {%endif%}
            </ul>
        </div>
        <div class="row">
            <a href="/users/{{user.id}}/new-post-form" class="button">Add post</a>
        </div>



        <!-- <div class="row">
            <h2><span>username: </span>{{user.username}}</h2>
        </div>
        <div class="row">
            <h2><span>first name: </span>{{user.first_name}}</h2>
        </div>
        <div class="row">
            <h2><span>last name: </span>{{user.last_name}}</h2>
        </div>
        <div class="row">
            <h2>{{user.first_name}} {{user.last_name}}</h2>
        </div> -->
    </div>
</div>



{%endblock%}