{% extends 'base.html'%}
{%block title%}{% endblock %}
{% block show_post%}
{%for post in posts%}
<div class="post-container">
    <div class="post-header">
        <h3 class='post-title'>{{post.title}}</h3>
    </div>
    <div class="post-body">
        <p>{{post.content}}</p>
    </div>
    <div class="post-footer">
        <span class="author">Created by <a href="/users/{{post.created_by.id}}">{{post.created_by.username}}</a> on <span class="date">{{date_time}}</span></span>
    </div>
    <div class="post-footer">
        <p class="tag-title">Tags:</p>
        {% for tag in tags%}
        <p class="tags"><a class="tags" href="/users/{{post.created_by.id}}">{{tag.name}}</a></p>
        {%endfor%}
    </div>
    <div class="row">
        <a href="/users/{{post.created_by.id}}" class="button btn-all">All posts by {{post.created_by.username}}</a>
        <a href="/posts/{{post.id}}/edit" class="button btn-edit">Edit</a>
        <a href="/posts/{{post.id}}/delete" class="button btn-delete">Delete</a>
    </div> 
</div>
{%endfor%}
{% endblock %}

{%block list%}
{%endblock%}